# Emacs backup and autosave files
*~
\#*\#
.\#*

# Emacs lockfiles
*.lock

# ELPA packages
elpa/
eln-cache/
transient/

# auto-save-list files
auto-save-list/

# byte-compiled files
**/*.elc
**/*.eln

# Bookmarks, recent files, history
bookmarks
recentf
projectile-bookmarks.eld
projectile-cache
.history
projects

# Font files
*.ttf